.vscode/**
.vscode-test/**
src/test/**
out/test/**
.gitignore
.clinerules-code
package-lock.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
